/* General styles */
body {
    font-family: 'Source serif pro', serif;
    font-size: 1.25em;
    text-align: center;
}

h1, h2 {
    font-size: 2em;
    font-weight: bold;
    color: black;
}

#Indice, #Imagen, #Javascript, #Number, #String, #Boolean, #Null, #Undefined, #Symbol, #BigInt, #Object {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.indices {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

#Indice ul {
    text-align: left;
}

#imagen {
    width: 30%;
    height: 30%;
    border-radius: 10%;
}
